.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 18px;

  .card {
    width: 200;
    font-size: 18px;
    margin: 12px 16px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }

  .card:hover {
    box-shadow: 8px 14px 8px rgba(0, 0, 0, 0.15);
  }

  .cardMeta {
    font-size: 16px;
    text-align: center;
  }

  .newTag {
    width: 200px;
    height: 203px;
    display: flex;
    cursor: pointer;
    margin: 12px 16px;
    align-items: center;
    border-radius: 16px;
    justify-content: center;
    transition: all 0.3s ease-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

    .addIcon {
      font-size: 80px;
    }
  }

  .newTag:hover {
    transform: scale(1.1);
    box-shadow: 8px 14px 8px rgba(0, 0, 0, 0.15);
  }

  :global {
    .ant-card-meta-title {
      font-weight: 400;
      color: rgba(0, 0, 0, 0.6);
    }

    .ant-card-actions {
      border-radius: 0 0 16px 16px;
    }

    .ant-card-body {
      height: 64px;
    }
  }
}
