@import '~@/skeleton/styles/variables.less';

.container {
  display: flex;
  justify-content: center;

  .cardList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .profile {
      width: 260px;
      margin-right: 20px;
      border-radius: 4px;

      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4px 12px;

        .title {
          margin-right: 12px;

          > p {
            color: #777;
            font-size: 15px;
            font-weight: bold;
          }
          > span {
            font-size: 8px;
            color: rgba(0, 0, 0, 0.5);
          }
        }
      }

      .profileContent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 4px 12px;

        > div {
          margin-bottom: 10px;

          .icon {
            color: #777;
            margin-right: 8px;
          }
        }

        > div > span {
          color: #777;
          font-size: 14px;
        }
      }
    }

    .articleInfo {
      width: 260px;
      margin-top: 12px;
      border-radius: 4px;

      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 12px;

        > span {
          color: #777;
          font-size: 15px;
          font-weight: bold;
        }
      }

      .content {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        width: 100%;
      }

      .content:hover {
        > span {
          color: #6874e2;
        }
      }

      .content > span {
        font-size: 13px;
        color: rgba(0, 0, 0, 0.5);
      }
    }

    :global {
      .ant-card-body {
        padding: 0;
      }
    }
  }

  .articleList {
    flex: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .selectTag {
      .appContainer;

      margin-bottom: 12px;
      padding-top: 24px;
      max-height: 120px;
    }

    .content {
      width: 100%;
      padding-bottom: 12px;
    }
  }
}

:global {
  .ant-pagination-item-link {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  .ant-card-body {
    padding: 16px;
  }
}
