.container {
  .content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 24;

    .left {
      margin-right: 40px;

      .articleInfo {
        width: 300;
        font-size: 18px;
        border-radius: 4px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

        .cardMeta {
          :global {
            .ant-card-meta-title {
              font-size: 20px;
            }
            .ant-card-meta-description {
              font-size: 14px;
            }
          }
        }
      }

      .anchor {
        margin-top: 24px;
        border-radius: 4px;
        background-color: #fff;

        > h3 {
          font-size: 16px;
          padding: 4px 18px;
          font-weight: bold;
          color: rgba(0, 0, 0, 0.65);
        }

        .content {
          padding: 8px 8px 8px 14px;
        }
      }
    }
  }

  :global {
    .ant-anchor-wrapper {
      margin-left: 0;
    }

    .ant-skeleton-content {
      padding: 12px;
    }
  }
}
