@import '~@/skeleton/styles/variables.less';

.container {
  .content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 24px;

    .left {
      margin-right: 40px;

      .articleInfo {
        width: 300px;
        font-size: 18px;
        border-radius: 4px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

        .cardMeta {
          :global {
            .ant-card-meta-title {
              font-size: 20px;
            }
            .ant-card-meta-description {
              font-size: 14px;
            }
          }
        }
      }

      .catalog {
        display: block;
        font-size: 16px;
        margin: 6px 26px;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.65);
      }

      :global {
        .ant-anchor-wrapper {
          padding-left: 0;
        }
        .ant-anchor {
          padding-left: 0;
        }
        .ant-anchor-ink {
          margin-left: 12px;
        }
        .ant-anchor-link {
          padding-left: 28px;
        }
      }
    }
  }

  :global {
    .ant-anchor-wrapper {
      margin-left: 0;
    }

    .ant-skeleton-content {
      padding: 12px;
    }
  }
}
