@import '~@/skeleton/styles/variables.less';

.container {
  .appCenter;

  background: url('../../assets/Variations.svg') no-repeat;
  background-size: 100%;

  .form {
    width: 360px;
    padding: 180px 0 24px 0;

    .input {
      height: 40px;
      margin-bottom: 16px;
    }

    .loginBtn {
      color: #fff;
      height: 40px;
      background-color: @primaryColor;
    }
  }
}
